@charset "UTF-8";
/* CSS Document */

/*=============================================== Import ===============================================*/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

/*=============================================== Variables ===============================================*/

:root {
    /* Colors */
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-gray-50: rgb(248, 248, 248);
    --color-gray-100: rgb(228, 228, 228);
    --color-gray-200: rgb(200, 200, 200);
    --color-gray-300: rgb(173, 173, 173);
    --color-gray-400: rgb(145, 145, 145);
    --color-gray-500: rgb(118, 118, 118);
    --color-gray-600: rgb(94, 94, 94);
    --color-gray-700: rgb(71, 71, 71);
    --color-gray-800: rgb(47, 47, 47);
    --color-gray-900: rgb(24, 24, 24);
    --color-primary-50: rgb(244, 246, 247);
    --color-primary-100: rgb(209, 218, 225);
    --color-primary-200: rgb(164, 181, 195);
    --color-primary-300: rgb(118, 143, 164);
    --color-primary-400: rgb(73, 106, 134);
    --color-primary-500: rgb(27, 69, 104);
    --color-primary-600: rgb(22, 55, 83);
    --color-primary-700: rgb(16, 41, 62);
    --color-primary-800: rgb(11, 28, 42);
    --color-primary-900: rgb(5, 14, 21);
    --color-secondary-50: rgb(244, 248, 253);
    --color-secondary-100: rgb(212, 226, 246);
    --color-secondary-200: rgb(168, 197, 237);
    --color-secondary-300: rgb(125, 167, 229);
    --color-secondary-400: rgb(81, 138, 220);
    --color-secondary-500: rgb(38, 109, 211);
    --color-secondary-600: rgb(30, 87, 169);
    --color-secondary-700: rgb(23, 65, 127);
    --color-secondary-800: rgb(15, 44, 84);
    --color-secondary-900: rgb(8, 22, 42);
    --color-success-50: rgb(243, 249, 246);
    --color-success-100: rgb(206, 230, 219);
    --color-success-200: rgb(157, 205, 183);
    --color-success-300: rgb(107, 179, 146);
    --color-success-400: rgb(58, 154, 110);
    --color-success-500: rgb(9, 129, 74);
    --color-success-600: rgb(7, 103, 59);
    --color-success-700: rgb(5, 77, 44);
    --color-success-800: rgb(4, 52, 30);
    --color-success-900: rgb(2, 26, 15);
    --color-danger-50: rgb(251, 242, 244);
    --color-danger-100: rgb(240, 204, 209);
    --color-danger-200: rgb(225, 153, 164);
    --color-danger-300: rgb(209, 102, 118);
    --color-danger-400: rgb(194, 51, 73);
    --color-danger-500: rgb(179, 0, 27);
    --color-danger-600: rgb(143, 0, 22);
    --color-danger-700: rgb(107, 0, 16);
    --color-danger-800: rgb(72, 0, 11);
    --color-danger-900: rgb(36, 0, 5);
    --color-warning-50: rgb(252, 246, 242);
    --color-warning-100: rgb(243, 219, 204);
    --color-warning-200: rgb(231, 182, 153);
    --color-warning-300: rgb(220, 146, 102);
    --color-warning-400: rgb(208, 109, 51);
    --color-warning-500: rgb(196, 73, 0);
    --color-warning-600: rgb(157, 58, 0);
    --color-warning-700: rgb(118, 44, 0);
    --color-warning-800: rgb(78, 29, 0);
    --color-warning-900: rgb(39, 15, 0);

    /* Overlays */
    --overlay-plain-black-50: rgba(0, 0, 0, 0.5);
    --overlay-plain-black-80: rgba(0, 0, 0, 0.8);
    --overlay-plain-white-50: rgba(255, 255, 255, 0.5);
    --overlay-plain-white-80: rgba(255, 255, 255, 0.8);
    --overlay-gradient-black: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    --overlay-gradient-white: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0) 100%
    );

    /* Shadows */
    --shadow-xxl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-l: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-m: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-s: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    /* Spacers */
    --spacer-xxl: 48px;
    --spacer-xl: 32px;
    --spacer-l: 24px;
    --spacer-m: 16px;
    --spacer-s: 12px;
    --spacer-xs: 8px;
    --spacer-xxs: 4px;

    /* Font families */
    --font-family-body: "Lato", sans-serif;
    --font-family-code: Consolas, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* Font sizes */
    --font-size-display-h1: 5rem;
    --font-size-display-h2: 4rem;
    --font-size-display-h3: 3.5rem;
    --font-size-display-h4: 3rem;
    --font-size-display-h5: 2.5rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.8rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.3rem;
    --font-size-h6: 1.1rem;
    --font-size-body: 1rem;
    --font-size-small: 0.875rem;

    /* Line height */
    --line-height: 1.5;

    /* Radiuses */
    --radius-xxl: 24px;
    --radius-xl: 16px;
    --radius-l: 12px;
    --radius-m: 8px;
    --radius-s: 4px;
    --radius-xs: 8px;
    --radius-round: 99em;

    /* Container */
    --main-width: 600px;
    --aside-width: 250px;

    /* Transitions */
    --transition-short: all 0.2s ease;
    --transition-long: all 0.5s ease;
    --transition-bezier: all 0.5s cubic-bezier(0.25, 0.75, 0, 0.66);
}

/*=============================================== Reset ===============================================*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

/*============================================================= Global styles =============================================================*/

html,
body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height);
}

.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}

/*============================================================= Helpers =============================================================*/

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.clear-float {
    float: none !important;
}

.hidden {
    position: fixed;
    top: -999em;
    left: -999em;
}

.no-marg {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.no-marg-top {
    margin-top: 0 !important;
}

.no-marg-bottom {
    margin-bottom: 0 !important;
}

.no-marg-left {
    margin-left: 0 !important;
}

.no-marg-right {
    margin-right: 0 !important;
}

.no-padd {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-padd-top {
    padding-top: 0 !important;
}

.no-padd-bottom {
    padding-bottom: 0 !important;
}

.no-padd-left {
    padding-left: 0 !important;
}

.no-padd-right {
    padding-right: 0 !important;
}

.no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
